<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collections</title>

    <script type="text/javascript" src="../javascripts/libs/jquery-2.min.js"></script>
    <script type="text/javascript" src="../javascripts/libs/underscore.js"></script>
    <script type="text/javascript" src="../javascripts/libs/backbone.js"></script>
    <script type="text/javascript" src="../javascripts/libs/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="model.js"></script>

    <link rel="stylesheet" href="../css/styles.css">

    <script type="text/x-handlebars-template" id="table-template">

        <h2>Hello {{admin}} </h2>
        <table>
            <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Delete</th>
            </thead>
            <tbody>
            {{#each users}}
            <tr data-id="{{id}}">
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>
                    <button type="button" data-id="{{id}}">Delete {{name}}</button>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>

    </script>

    <script type="text/x-handlebars-template" id="detail-template">
        <div>
            Id : {{id}}
        </div>
        <div>
            Name : {{name}}
        </div>
        <div>
            Email : {{email}}
        </div>
    </script>
</head>
<body>

<h1>Collection of models</h1>

<div class="result"></div>

<div class="detail"></div>

</body>
<script>

    var myBus = _.extend({}, Backbone.Events);


    function getCookie(c_name)
    {
        var i,x,y,ARRcookies=document.cookie.split(";");

        for (i=0;i<ARRcookies.length;i++)
        {
            x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
            y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
            x=x.replace(/^\s+|\s+$/g,"");
            if (x==c_name)
            {
                return unescape(y);
            }
        }
    }

    $(function () {

        var oldSync = Backbone.sync;
        Backbone.sync = function(method, model, options){

            //modify
            options.beforeSend = function (xhr) {
                var cookie = getCookie('csrf');
                xhr.setRequestHeader('X-CSRF', cookie);
            };

            return oldSync(method, model, options)
        };

        // <script template>

        var TableView = Backbone.View.extend({

            events: {
                'click button': 'deleteUser',
                'click tr': 'selectUser'
            },

            selectUser: function (event) {
                var userId = $(event.currentTarget).data('id');
                var user = this.collection.get(userId);
                this.trigger('user:selected', user);
            },
            /*
             selectUser events  --> get the Event Object
             - event.target = button
             - get the data-id
             - collection : find the good user
             - remove the good user
             - re-render
             */

            deleteUser: function (event) {
                var id = $(event.target).data('id');
                console.log('id', id);
                console.log(this.collection.length);
                this.collection.remove(id);
                console.log(this.collection.length);
                this.render();


            },
            template: Handlebars.compile($("#table-template").html()),
            render: function (p1, p2, p3) {

                console.log('param', p1, p2, p3);
                var data = {
                    users: this.collection.toJSON(),
                    admin: 'John'
                };
                var html = this.template(data);
                this.$el.html(html);
                return this;

            }

        });

        var DetailView = Backbone.View.extend({

            template: Handlebars.compile($("#detail-template").html()),

            render: function () {

                var html = this.template(this.model.toJSON());
                this.$el.html(html);
                return this;
            }


        });


        var users = new UserCollection();
        var tableView = new TableView({
            el: 'div.result', //create this.$el
            collection: users
        });


        var detailView = new DetailView({
            model: new User({id: 8, name: 'Not Selected'}),
            el: 'div.detail'
        }).render();


        detailView.listenTo(tableView, 'user:selected', function (user) {
            router.navigate('user/'+user.id);
            detailView.model = user;
            detailView.render();
        });


        users.fetch().then(tableView.render.bind(tableView));


        //Google : codebeerstartups backbone router
        var AppRouter = Backbone.Router.extend({

            routes: {
                '': 'index',
                'user/:id': 'selectUser'
            },

            index: function () {
                console.log('This is the app base');
            },
            selectUser: function (id) {
                console.log('I am looking for User ' + id);
                var user = new User({id: id});

                user.fetch()
                    .then(function () {
                        console.log('in router : ', user)
                        detailView.model = user;
                        detailView.render();
                    });
            }

        });

        var router = new AppRouter();
        Backbone.history.start();







    });


</script>

</html>