body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  margin-top: 50px;
}

code{

}


.render{
  padding: 10px;
  margin: 10px;
  border: medium #5200b9 solid;
  border-radius: 15px;
  box-shadow: 3px 3px 5px 3px #9200e5;
  min-height: 60px;

}