<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>

    <script type="text/javascript" src="../javascripts/libs/jquery-2.min.js"></script>
    <script type="text/javascript" src="../javascripts/libs/underscore.js"></script>
    <script type="text/javascript" src="../javascripts/libs/backbone.js"></script>
    <script type="text/javascript" src="../javascripts/libs/handlebars-v4.0.5.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <script type="text/x-handlebars-template" id="user-template">
        <div>
            Hello {{name}}, are you doing ?
            {{#city}}
                So you come from {{.}}
            {{/city}}?

            <section>
            {{#if city}}
                Alt  : So you come from {{city}}  ?
            {{/if}}
            </section>
        </div>

    </script>
</head>
<body>

<h1>Underscore Template</h1>

<div class="underscore-template render">

</div>


<h1>handlebars Template</h1>


<div class="handlebars-template render">

</div>

</body>


<script>


    $(function () {
        var myBus = _.extend({}, Backbone.Events);

        var jim = new Backbone.Model({id: 1, name: 'Jim', city: 'London'});
        var jack = new Backbone.Model({id: 1, name: 'Jack', city: 'London'});
        var jules = new Backbone.Model({id: 1, name: 'Jules', city: 'Paris'});

        //try a else here !
        var globalTemplate = "Hello <%= name %>, are you doing ? <% if (city) { %> So you come from <%= city %> ? <% } %>";


        var UnderscoreView = Backbone.View.extend({

            el: 'div.underscore-template',

            //it's often a nice convention to define a template function on your views
            //_.template(str) returns a function that now need data to render
            template: _.template(globalTemplate),


            render: function () {


                var data = {id: 1, name: 'Jack', city: 'London'};
                this.$el.html(this.template(data));

                return this;

            }


        });

        var HandlebarsView = Backbone.View.extend({

            el: 'div.handlebars-template',

            //Handlebars works the same, but better :)
            //Warning : jQuery MUST be active right now
            template: Handlebars.compile($("#user-template").html()),


            render: function () {


                var data = {id: 1, name: 'Jack', city: 'London'};
                this.$el.html(this.template(data));

                return this;

            }


        });


        new UnderscoreView().render();
        new HandlebarsView().render();

    });


</script>

</html>