<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The View & the Model</title>

    <script type="text/javascript" src="../javascripts/libs/jquery-2.min.js"></script>
    <script type="text/javascript" src="../javascripts/libs/underscore.js"></script>
    <script type="text/javascript" src="../javascripts/libs/backbone.js"></script>
    <script type="text/javascript" src="../javascripts/libs/handlebars-v4.0.5.js"></script>

    <link rel="stylesheet" href="../css/styles.css">

    <script type="text/x-handlebars-template" id="user-template">
        <div>
            Hello {{name}}, are you doing ?


            {{#if city}}
            Alt : So you come from {{city}}
            {{/if}}?

        </div>

    </script>

</head>
<body>

<h1>Using the model object</h1>


<p>
    View options accept a model, which will be displayed to the view. Simply call <code>model.toJSON() </code>
</p>

<div class="view render"></div>



<h1>Bind it like Angular : listenTo()</h1>

<form name="user-form">
    <label>New name</label><input placeholder="Enter a name" class="user-name">
    <button type="button">OK</button>

</form>




</body>


<script>

    var myBus = _.extend({}, Backbone.Events);

    var jim = new Backbone.Model({id: 1, name: 'Jim', city: 'London'});
    var jack = new Backbone.Model({id: 1, name: 'Jack', city: 'London'});
    var jules = new Backbone.Model({id: 1, name: 'Jules', city: 'Paris'});


    $(function () {
        var UserView = Backbone.View.extend({

            el: 'div.view',

            initialize: function (options) {


                //warning : send the function as param, don't execute it right now
                this.listenTo(this.model, "change", this.render);


                //this.listenTo(this.model, "change:name", this.render);
            },

            //Handlebars works the same, but better :)
            //Warning : jQuery MUST be active right now
            template: Handlebars.compile($("#user-template").html()),

            render: function () {

                console.log('rendering : ', this.model);
                var data = this.model.toJSON();
                this.$el.html(this.template(data));
                return this;

            }

        });


        new UserView({model:jim}).render();

        $('button').on ('click', function(){
            var val = $('input.user-name').val();
            jim.set ({name : val});
            console.log("changed jim", val, jim);
        })

    });




</script>

</html>