<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collections</title>

    <script type="text/javascript" src="../javascripts/libs/jquery-2.min.js"></script>
    <script type="text/javascript" src="../javascripts/libs/underscore.js"></script>
    <script type="text/javascript" src="../javascripts/libs/backbone.js"></script>
    <script type="text/javascript" src="../javascripts/libs/handlebars-v4.0.5.js"></script>

    <link rel="stylesheet" href="../css/styles.css">

    <script type="text/x-handlebars-template" id="table-template">

        <h2>Hello {{admin}} </h2>
        <table>
            <thead>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Delete</th>
            </thead>
            <tbody>
            {{#each users}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{city}}</td>
                <td>
                    <button type="button" data-id="{{id}}">Delete {{name}}</button>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>

    </script>
</head>
<body>

<h1>Collection of models</h1>

<div class="result"></div>

</body>
<script>

    var myBus = _.extend({}, Backbone.Events);

    var jim = new Backbone.Model({id: 1, name: 'Jim', city: 'London'});
    var jack = new Backbone.Model({id: 2, name: 'Jack', city: 'London'});
    var jules = new Backbone.Model({id: 3, name: 'Jules', city: 'Paris'});
    var george = new Backbone.Model({id: 4, name: 'Georges', city: 'Amsterdam'});
    var luke = new Backbone.Model({id: 5, name: 'Luke', city: 'Paris'});

    var users = new Backbone.Collection([jim, jack, jules, george, luke]);

    $(function () {


        // <script template>

        var TableView = Backbone.View.extend({

            events : {
                'click button' : 'deleteUser'
            },
            /*
            events  --> get the Event Object
                        - event.target = button
                        - get the data-id
                        - collection : find the good user
                        - remove the good user
                        - re-render
             */

            deleteUser : function(event){
                var id = $(event.target).data('id');
                console.log('id', id);
                console.log(this.collection.length);
                this.collection.remove(id);
                console.log(this.collection.length);
                this.render();


            },
            template: Handlebars.compile($("#table-template").html()),
            render: function () {
                var data = {
                    users : this.collection.toJSON(),
                    admin : 'John'
                };
                var html =this.template(data);
                this.$el.html(html);
                return this;

            }

        });

        var tableView = new TableView({
            el: 'div.result', //create this.$el
            collection: users
        });
        tableView.render();


    });


</script>

</html>