<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collections</title>

    <script type="text/javascript" src="../javascripts/libs/jquery-2.min.js"></script>
    <script type="text/javascript" src="../javascripts/libs/underscore.js"></script>
    <script type="text/javascript" src="../javascripts/libs/backbone.js"></script>
    <script type="text/javascript" src="../javascripts/libs/handlebars-v4.0.5.js"></script>

    <link rel="stylesheet" href="../css/styles.css">

    <script type="text/x-handlebars-template" id="row-template">

        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{toLowerCase city}}</td>
        <td>
            <button data-id="{{id}}" type="button">Delete {{name}}</button>
        </td>

    </script>

    <script type="text/x-handlebars-template" id="table-template">

        <h2><a href="http://www.google.fr"> Hello {{admin}} </a></h2>
        <table>
            <thead>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Delete</th>
            </thead>
            <tbody>


            </tbody>
        </table>

    </script>
</head>
<body>

<h1>Collection of models</h1>

<div class="result"></div>

</body>
<script>


    var myBus = _.extend({}, Backbone.Events);

    Handlebars.registerHelper('toLowerCase', function(str) {
        return str.toLowerCase();
    });

    var jim = new Backbone.Model({id: 1, name: 'Jim', city: 'London'});
    var jack = new Backbone.Model({id: 2, name: 'Jack', city: 'London'});
    var jules = new Backbone.Model({id: 3, name: 'Jules', city: 'Paris'});
    var george = new Backbone.Model({id: 4, name: 'Georges', city: 'Amsterdam'});
    var luke = new Backbone.Model({id: 5, name: 'Luke', city: 'Paris'});

    var users = new Backbone.Collection([jim, jack, jules, george, luke]);

    $(function () {



        // <script template>

        var UserView = Backbone.View.extend({

            events: {
                'click button': 'deleteUser',
                'click ': 'onClick'
            },
            onClick : function (event){
                event.stopPropagation();
                alert('click on child');
            },
            tagName: 'tr',
            initialize: function () {
                this.listenTo(myBus, 'fire', function () {
                    alert("I am a ZOMBIE");
                });
            },
            template: Handlebars.compile($("#row-template").html()),
            deleteUser: function (event) {
                this.trigger('destroy', this);
            },
            render: function () {
                // <script handlebars>
                var data = this.model.toJSON();
                var html = this.template(data);
                this.$el.html(html);

                return this;
            }


        });


        var TableView = Backbone.View.extend({

            events: {
                'click': 'onClick'
            },
            onClick : function (event){

                alert('click on Father');
            },

            template: Handlebars.compile($("#table-template").html()),

            initialize: function () {
                this.listenTo(this.collection, 'change add remove', this.render);
            },
            deleteChild: function (child) {
                console.log ('removing child : ', child);
                this.collection.remove(child);
                child.remove();
            },

            render: function () {
                var html = this.template({});
                this.$el.html(html);

                var that = this;

                this.collection.forEach(function (user) {
                    var userView = new UserView({
                        model: user
                    }).render();
                    $('tbody').append(userView.render().$el);
                    that.listenTo(userView, 'destroy', that.deleteChild);

                });


                $('a').on('click', function(event){
                    event.preventDefault();
                    alert("you won't go to GOOGLE !!");
                });
                /*
                 collection forEach ->model
                 new UserView (model : model, tagName:'tr')
                 tbody -> append userView.$el
                 */
                return this;

            }

        });

        var tableView = new TableView({
            el: 'div.result', //create this.$el
            collection: users
        });
        tableView.render();


    });


</script>

</html>