<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extending</title>

    <script type="text/javascript" src="../javascripts/libs/jquery-2.min.js"></script>
    <script type="text/javascript" src="../javascripts/libs/underscore.js"></script>
    <script type="text/javascript" src="../javascripts/libs/backbone.js"></script>

    <script type="text/javascript" src="../javascripts/libs/handlebars-v4.0.5.js"></script>

    <link rel="stylesheet" href="../css/styles.css">

    <!-- We want to see all users, and then click them -->
    <script type="text/x-handlebars-template" id="users-template">

            <ul>
                {{#each users}}

                    <li><a href="#">{{this.name}}</a></li>

                {{/each}}

            </ul>




    </script>


    <!-- when clicked, the user is displayed, and we can modify it. the CollectionView will change ! -->
    <script type="text/x-handlebars-template" id="user-template">
        <div class="user-component">
            Hello {{name}}, are you doing ?

            {{#if city}}
            Alt : So you come from {{city}}
            {{/if}}?

        </div>


        <form name="user-form" class="user-editor">
            <label>New name</label><input placeholder="Enter a name" class="user-name">
            <button type="button">OK</button>

        </form>


    </script>



</head>
<body>

<h1>Showing Users and Collections</h1>

<p>We want to see all users, and then click them </p>
<div class="users render">

</div>

<p>when clicked, the user is displayed, and we can modify it. the CollectionView will change !</p>

<div class="user-editor render">

</div>

<p>There is two classic different solutions at this problem :
<ul>
    <li></li>
    <li></li>
</ul>


</p>

<p>Have to say that's where Angular totally shines.</p>

</body>


<script>

    var myBus = _.extend({}, Backbone.Events);

    var User = Backbone.Model.extend({});

    var UserCollection = Backbone.Collection.extend({
        model: User,
        comparator: 'name'  //could be a function
    });

    var jim = new User({id: 1, name: 'Jim', city: 'London'});
    var jack = new User({id: 2, name: 'Jack', city: 'London'});
    var jules = new User({id: 3, name: 'Jules', city: 'Paris'});
    var george = new User({id: 4, name: 'Georges', city: 'Amsterdam'});
    var luke = new User({id: 5, name: 'Luke', city: 'Paris'});


    var users = new UserCollection([jim, jack, jules, george, luke]);

    //    console.log(users.pluck('name'));

    $(function () {

        var UsersView = Backbone.View.extend({

            tagName:'nav',
            events : {
                'click a' : 'doStuff'
            },
            template: Handlebars.compile($("#users-template").html()),

            render : function(){
                var data = {users : this.collection.toJSON()}; //we need a key in our data for template
                console.log('render data', data);
                this.$el.html(this.template(data));
                return this;
            }

        });

        var usersView = new UsersView({
            collection:users,
            el : 'div.users'
        });
        usersView.render();


    });


</script>

</html>